body {
background-color: #DFC47F;
text-align: center;
font-family: 'Sulphur Point', sans-serif;

}
#board-game {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}