body {
    height: 450px;
    background-color: transparent;
    text-align: center;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
}

/* Presentation Game Page */

#brain-presentation {
    width: 150px;
    position: fixed;
}

#about-game {
    position: fixed;
    top: 40px;
    right: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Sulphur Point', sans-serif;
}

#presentation {
    margin-top: 15%;
    font-family: 'Alata', sans-serif;
    font-size: 60px;
}

#key-presentation {
    position: fixed;
    width: 100px;
    right: 100px;
    top: 80px;
    transition: width 1s, heigth 1s, transform 1s;
}

#key-presentation:hover {
    transform: rotate(360deg);
}

.myButton {
	box-shadow: 3px -5px 3px -1px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:27px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: Arial;
	font-size:17px;
    font-weight: bold;
    margin-top: 20px;
	padding:10px 25px;
	text-decoration: none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Game.js */

#board-game {
    border: 1px solid white;
    height: 800px;
    width: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}


